<!-- -*- mode: XML -*- -->
<!-- start 
     $Id$
  -->

<launch>

  <!-- start -->
  <!-- ros_args.launch -->
  <arg name="dir_export_default" value="$(env PWD)/export" doc="path du repertoire d'export par défaut"/>  
  <arg name="dir_export_sensors" default="$(arg dir_export_default)/SENSORS_" doc="path du répertoire d'export pour les données sensors"/>


  <node pkg="subscriber_android_sensors" type="subscriber_android_sensors_node" name="record_android_sensors" output="screen">
	  <param name="prefix" value="$(arg dir_export_sensors)" />
	  <param name="binary" value="false" />
	  <param name="xml" value="true" />
          <param name="sensors_topic" value="/android/imu" />
  </node>    

</launch>

